.footer {
  padding: 0.5rem;
  background: black;
  border-top: 1px solid #555555;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

@media (max-width: 800px) {
  .footer {
    margin-top: 0;
  }
}
